<% provide(:title, "Room Listings") %>

<div class = "container">
  <div class = "row text-center">
  <h3>Please note that the app requires your location to work properly.</h3>
  <h6>*We will not use your information for any other purpose than to locate rooms around you and to let you create geotagged rooms.</h6>
  </div>
  <div class = "row">
    <div class = "col-md-2"></div>
    <div class = "col-md-8"><!-- room list -->
      <div class = "rooms-container">
        <div id = "map-container">
          <%= button_tag("Get Current Location", {class: "btn btn-info", id: "get_loc_btn"}) %>
        </div>
        
        <div class = "list-container panel panel-primary">
          <div class = "panel-heading">Popular Rooms</div>
          <div class = "list-group">
            <% @curr_rooms.each do |r| %>
            <a href = "<%= room_path(r) %>" class = "list-group-item room-name"><%= r.name %></a>
            <input type = "hidden" class = "room-loc" value = "<%= r.location %>">
            <% end %>
          </div>
        </div> <!-- end list container -->

      </div><!-- end rooms container -->

    </div><!-- end room list -->
    <div class = "col-md-2"></div>
  </div>
  <div class = "row">
    <div class = "col-md-6"></div>
    <div class = "col-md-4 text-right">
       <%= render 'forms/create_room' %>
    </div>
    <div class = "col-md-2"></div>
  </div>
</div>

